body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .circle {
        height: 20em;
        width: 20em;
        border-radius: 50%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        h1 {
            color: white;
        }
    }
    #circle.blue {
        background-color: blue;
    }
}

// // Lets try media queries
// @media (hover: hover) {
//     // targets devices that can hover
//     body {
//         background-color: steelblue;
//     }
// }

// @media (hover: none) {
//     // targets devices that don't hover
//     body {
//         background-color: brown;
//     }
// }

// Touch Device (Mobile and Apple TV etc.)
@media (pointer: course) {

}

// Mouse (Desktop)
@media (pointer: fine) {

}